<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swsbt.secret">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.diary.DiaryActivity" />
        <activity android:name=".view.write.WriteActivity" />
        <activity android:name=".view.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.WriteAvgActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".view.AvgActivity" />
        <activity
            android:name=".view.ImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_image"
            android:theme="@style/FullscreenTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.swsbt.secret.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.OldMainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.WriteActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask" />
        <activity
            android:name=".view.DiaryActivity"
            android:launchMode="singleTask"
            android:theme="@style/SwipeBack.Transparent.Theme" />
        <activity
            android:name=".view.SettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>